<h1>Avi's Sandbox</h1>

<script>
  // Send an Ajax Request to Get More Javascript
  // and then EXECUTE THAT JAVASCRIPT AS THOUGHT IT WAS
  // HERE THE ENTIRE TIME.
  // $.getScript("/sandbox");

</script>
<h2>Wait for it</h2>